@use '../../../styles/templates.scss' as t;

.Div {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;

    .Title {
        color: t.$color-loading;
        font-size: 64px;
    }
}
