@use '../../../styles/templates.scss' as t;

.Div {
    display: flex;
    justify-content: center;
    background-color: rgb(121, 225, 255);

    img {
        width: 80%;
        height: auto; 
        border-radius: 8px;
    }
}
