@use '../../../styles/templates.scss' as t;

.Div {
    display: flex;
    justify-content: center;
    background-color: rgb(105, 224, 255);

    img {
        width: 80%;
        height: auto; 
    }
}
