@use './templates.scss' as t;

.App {

    p {
        color: t.$color-text-default;
    }

    .Points {
        display: flex;
        justify-content: center;
        color: t.$color-special;
        font-size: 32px;
    }
}
