@use './templates.scss' as t;

.App {
    margin-top: 42px;
}

.Main {

    p {
        color: t.$color-text;
    }
}

.blueThemeNav {
    @include  t.Text;
    border-left: 2px solid t.$color-border-blue;
    border-right: 2px solid t.$color-border-blue;
    border-bottom: 2px solid t.$color-border-blue;
    border-radius: 8px;
    background-color: t.$color-btn;
    color:  t.$color-pick-blue;
    font-size: 45px;
}

.greenThemeNav {
    @include  t.Text;
    border-left: 2px solid t.$color-border-green;
    border-right: 2px solid t.$color-border-green;
    border-bottom: 2px solid t.$color-border-green;
    border-radius: 8px;
    background-color: t.$color-btn;
    color:  t.$color-pick-green;
    font-size: 45px;
}

.redThemeNav {
    @include  t.Text;
    border-left: 2px solid t.$color-border-red;
    border-right: 2px solid t.$color-border-red;
    border-bottom: 2px solid t.$color-border-red;
    border-radius: 8px;
    background-color: t.$color-btn;
    color:  t.$color-pick-red;
    font-size: 45px;
}

.orangeThemeNav {
    @include  t.Text;
    border-left: 2px solid t.$color-border-orange;
    border-right: 2px solid t.$color-border-orange;
    border-bottom: 2px solid t.$color-border-orange;
    border-radius: 8px;
    background-color: t.$color-btn;
    color:  t.$color-pick-orange;
    font-size: 45px;
}

.yellowThemeNav {
    @include  t.Text;
    border-left: 2px solid t.$color-border-yellow;
    border-right: 2px solid t.$color-border-yellow;
    border-bottom: 2px solid t.$color-border-yellow;
    border-radius: 8px;
    background-color: t.$color-btn;
    color:  t.$color-pick-yellow;
    font-size: 45px;
}

@mixin Clicker {
    margin-top: 68px;
    border-radius: 50%;
    background-color: t.$color-btn;
    height: 160px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-items: center
}

.blueThemeClicker {
    @include Clicker;
    border: 2px solid t.$color-border-blue;
}

.greenThemeClicker {
    @include Clicker;
    border: 2px solid t.$color-border-green;
}

.redThemeClicker {
    @include Clicker;
    border: 2px solid t.$color-border-red;
}

.orangeThemeClicker {
    @include Clicker;
    border: 2px solid t.$color-border-orange;
}

.yellowThemeClicker {
    @include Clicker;
    border: 2px solid t.$color-border-yellow;
}
