@use './templates.scss' as t;

.ChatList {
    
    .ChatName {
        color: t.$color-settings;
    }
}

.Main {
    @include t.Card;
    width: 65%;

    .Title {
        display: flex;
        justify-content: center;
        color: t.$color-pick;
    }

    div {
        
        p {
            color: t.$color-text;
        }
    }
}

.Clicker {
    @include t.Card;

    h1 {
        display: flex;
        justify-content: center;
        color: t.$color-pick;
    }
}
