@use './templates.scss' as t;

.ChatList {
    
    .ChatName {
        color: t.$color-settings;
    }
}

.Main {
    @include t.Card;
    width: 65%;

    div {
        
        p {
            color: t.$color-text;
        }
    }
}

.Clicker {
    @include t.Card;
}
