@use './templates.scss' as t;

.AuthForm {
    @include t.Card;

    form {
        
        .name {
            
            h1 {
                color: t.$color-pick;
            }

            input {
                background-color: white;
                color: black;
                width: 100%;
                height: 24px;
                border: 2px solid t.$color-border;
                border-radius: 8px;
                font-family: "Pixelify Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 900;
                font-style: normal;
                font-size: 20px;

                &:hover {
                    border-color: t.$color-settings;
                }
            }
        }

        .key {
            
            h1 {
                color: t.$color-pick;
            }

            input {
                background-color: white;
                color: black;
                width: 100%;
                height: 24px;
                border: 2px solid t.$color-border;
                border-radius: 8px;
                font-family: "Pixelify Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 900;
                font-style: normal;
                font-size: 20px;

                &:hover {
                    border-color: t.$color-settings;
                }
            }
        }

        button {
            margin-top: 32px;
            margin-bottom: auto;
            margin-right: auto;
            margin-left: auto;
            width: 180px;
            height: 60px;
            background-color: t.$color-btn;
            color: t.$color-border;
            border-radius: 8px;
            border: 2px solid t.$color-border;
            font-family: "Pixelify Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 900;
            font-style: normal;
            font-size: 32px;

            &:hover {
                background-color: t.$color-pick;
                color: black;
            }

            &:active {
                background-color: t.$color-warning;
            }
        }

        .error {
            color: t.$color-warning;
            margin-top: 32px;
            margin-bottom: auto;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.Back {
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: t.$color-settings;

    &:hover {
        text-decoration: underline;
    }
}
