@use './templates.scss' as t;


form {

    .AuthButton {
        margin-top: 72px;
    }

    .Error {
        color: t.$color-warning;
        margin-top: 32px;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
    }
}


.Back {
    display: flex;
    justify-content: center;
    font-size: 22px;

    .Link {
        color: t.$color-shadow;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
