@use './templates.scss' as t;

@mixin Nav {
    @include  t.Text;
    border-radius: 8px;
    font-size: 45px;
}

.blueThemeNav {
    @include Nav;
    border-left: 2px solid t.$color-border-blue;
    border-right: 2px solid t.$color-border-blue;
    border-bottom: 2px solid t.$color-border-blue;
    background-color: t.$color-btn;
    color:  t.$color-pick-blue;
}

.greenThemeNav {
    @include Nav;
    border-left: 2px solid t.$color-border-green;
    border-right: 2px solid t.$color-border-green;
    border-bottom: 2px solid t.$color-border-green;
    background-color: t.$color-btn;
    color:  t.$color-pick-green;
}

.redThemeNav {
    @include Nav;
    border-left: 2px solid t.$color-border-red;
    border-right: 2px solid t.$color-border-red;
    border-bottom: 2px solid t.$color-border-red;
    background-color: t.$color-btn;
    color:  t.$color-pick-red;
}

.orangeThemeNav {
    @include Nav;
    border-left: 2px solid t.$color-border-orange;
    border-right: 2px solid t.$color-border-orange;
    border-bottom: 2px solid t.$color-border-orange;
    background-color: t.$color-btn;
    color:  t.$color-pick-orange;
}

.yellowThemeNav {
    @include Nav;
    border-left: 2px solid t.$color-border-yellow;
    border-right: 2px solid t.$color-border-yellow;
    border-bottom: 2px solid t.$color-border-yellow;
    background-color: t.$color-btn;
    color:  t.$color-pick-yellow;
}

@mixin Clicker {
    margin-top: 48px;
    border-radius: 48px;
    background-color: t.$color-btn;
    height: 180px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

@mixin Indicator {
    height: 180px;
    border-radius: 48px;
    background-color: t.$color-bg;
}

.blueThemeClicker {
    @include Clicker;
    background-color: t.$color-btn;

    .blueThemeIndicator {
        @include Indicator;
        border: 2px solid t.$color-border-blue;
    }
}

.greenThemeClicker {
    @include Clicker;
    background-color: t.$color-btn;

    .greenThemeIndicator {
        @include Indicator;
        border: 2px solid t.$color-border-green;
    }
}

.redThemeClicker {
    @include Clicker;
    background-color: t.$color-btn;

    .redThemeIndicator {
        @include Indicator;
        border: 2px solid t.$color-border-red;
    }
}

.orangeThemeClicker {
    @include Clicker;
    background-color: t.$color-btn;

    .orangeThemeIndicator {
        @include Indicator;
        border: 2px solid t.$color-border-orange;
    }
}

.yellowThemeClicker {
    @include Clicker;
    background-color: t.$color-btn;

    .yellowThemeIndicator {
        @include Indicator;
        border: 2px solid t.$color-border-yellow;
    }
}
