@use './templates.scss' as t;

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-color: t.$color-bg;
  color: t.$color-text;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
