@use './templates.scss' as t;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  color: t.$color-text;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
