@use './templates.scss' as t;

body {
  margin: 0;
  padding: 0;
  color: t.$color-text;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  background-color: t.$color-bg;
  width: 100vw;
  height: 100vh;

    #root {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
