@use './templates.scss' as t;

@mixin optionsButtonLeft {
    @include t.Text;
    background-color: t.$color-btn;
    height: 48px;
    width: 120px;
    border-radius: 8px;
    border-right: 0;
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
}

@mixin optionsButtonCenter {
    @include t.Text;
    background-color: t.$color-btn;
    height: 48px;
    width: 120px;
    border-left: none;
    border-right: none;
}

@mixin optionsButtonRight {
    @include t.Text;
    background-color: t.$color-btn;
    height: 48px;
    width: 120px;
    border-radius: 8px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; 
}

@mixin Options {
    margin-top: 4px;
}

@mixin PopoverContentArea {
    background-color: t.$color-btn;
    border-radius: 8px;
    height: 46px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}

.VisualOptions {
    @include Options;

    .blueThemeLeftBtn {
        @include optionsButtonLeft;
        color: t.$color-pick-blue;
        border-top: 2px solid t.$color-border-blue;
        border-left: 2px solid t.$color-border-blue;
        border-bottom: 2px solid t.$color-border-blue;
    }

    .blueThemeRightBtn {
        @include optionsButtonRight;
        color: t.$color-pick-blue;
        border-top: 2px solid t.$color-border-blue;
        border-right: 2px solid t.$color-border-blue;
        border-bottom: 2px solid t.$color-border-blue;
    }

    .greenThemeLeftBtn {
        @include optionsButtonLeft;
        color: t.$color-pick-green;
        border-top: 2px solid t.$color-border-green;
        border-left: 2px solid t.$color-border-green;
        border-bottom: 2px solid t.$color-border-green;
    }

    .greenThemeRightBtn {
        @include optionsButtonRight;
        color: t.$color-pick-green;
        border-top: 2px solid t.$color-border-green;
        border-right: 2px solid t.$color-border-green;
        border-bottom: 2px solid t.$color-border-green;
    }

    .redThemeLeftBtn {
        @include optionsButtonLeft;
        color: t.$color-pick-red;
        border-top: 2px solid t.$color-border-red;
        border-left: 2px solid t.$color-border-red;
        border-bottom: 2px solid t.$color-border-red;
    }

    .redThemeRightBtn {
        @include optionsButtonRight;
        color: t.$color-pick-red;
        border-top: 2px solid t.$color-border-red;
        border-right: 2px solid t.$color-border-red;
        border-bottom: 2px solid t.$color-border-red;
    }

    .orangeThemeLeftBtn {
        @include optionsButtonLeft;
        color: t.$color-pick-orange;
        border-top: 2px solid t.$color-border-orange;
        border-left: 2px solid t.$color-border-orange;
        border-bottom: 2px solid t.$color-border-orange;
    }

    .orangeThemeRightBtn {
        @include optionsButtonRight;
        color: t.$color-pick-orange;
        border-top: 2px solid t.$color-border-orange;
        border-right: 2px solid t.$color-border-orange;
        border-bottom: 2px solid t.$color-border-orange;
    }

    .yellowThemeLeftBtn {
        @include optionsButtonLeft;
        color: t.$color-pick-yellow;
        border-top: 2px solid t.$color-border-yellow;
        border-left: 2px solid t.$color-border-yellow;
        border-bottom: 2px solid t.$color-border-yellow;
    }


    .yellowThemeRightBtn {
        @include optionsButtonRight;
        color: t.$color-pick-yellow;
        border-top: 2px solid t.$color-border-yellow;
        border-right: 2px solid t.$color-border-yellow;
        border-bottom: 2px solid t.$color-border-yellow;
    }
}

.PopoverContentVisualArea {
    @include PopoverContentArea;
    width: 242px;
}

.Account {
    margin-top: 64px;

    .AccountOptionsBtn {
        color: t.$color-warning;
        border: 2px solid t.$color-warning;
    }

    .PopoverContentAccountArea {
        @include PopoverContentArea;
        width: 362px;
    }   

}

.AccountOptions {
    @include Options;

    .Leave {
        @include optionsButtonLeft;
        color: t.$color-warning;
        border-top: 2px solid t.$color-warning;
        border-left: 2px solid t.$color-warning;
        border-bottom: 2px solid t.$color-warning;
    }

    .Delete {
        @include optionsButtonCenter;
        color: t.$color-warning;
        border-top: 2px solid t.$color-warning;
        border-bottom: 2px solid t.$color-warning;
    }

    .ChangeKey {
        @include optionsButtonRight;
        color: t.$color-warning;
        border-top: 2px solid t.$color-warning;
        border-right: 2px solid t.$color-warning;
        border-bottom: 2px solid t.$color-warning;
    }
}

.ResponseArea {
    width: 100%;
    height: 100%;
    background-color: rgb(110, 225, 255);
    align-items: center;
    overflow-y: auto;
    flex-wrap: wrap;

    .Response {
        margin: 12px;
        background-color: t.$color-btn;
        padding: 12px;
        border: 2px solid t.$color-border-default;
        border-radius: 8px;

        .blueThemeUsername {
            color: t.$color-pick-blue;
        }

        .greenThemeUsername {
            color: t.$color-pick-green;
        }

        .redThemeUsername {
            color: t.$color-pick-red;
        }

        .orangeThemeUsername {
            color: t.$color-pick-orange;
        }
        
        .yellowThemeUsername {
            color: t.$color-pick-yellow;
        }

        .Points {
            margin-left: 12px;
            color: t.$color-special;
        }
    }

}

.SearchInput {
    width: 390px;
    margin-top: 14px;
}

.PageNum {
    color: t.$color-special;
}

.PageBtn {
    margin-bottom: 42px;

    .PageArrow {
        margin-top: 8px;
        width: 100%;
        height: 100%;
        color: t.$color-special;
    }
}
