$color-bg: hsl(0, 0%, 85%);
$color-card: hsl(0, 0%, 25%);
$color-text: hsl(0, 0%, 75%);
$color-btn: hsl(0, 0%, 15%);
$color-warning: hsl(0, 76%, 52%);
$color-settings: hsl(0, 0%, 5%);
$color-action: hsl(0, 59%, 61%);

$color-border-blue: hsl(214, 35%, 55%);
$color-border-green: hsl(103, 35%, 55%);
$color-border-red: hsl(7, 35%, 55%);
$color-border-orange: hsl(34, 87%, 63%);
$color-border-yellow: hsl(56, 77%, 63%);

$color-pick-blue: hsl(212, 43%, 52%);
$color-pick-green: hsl(140, 43%, 52%);
$color-pick-red: hsl(0, 43%, 52%);
$color-pick-orange: hsl(34, 75%, 51%);
$color-pick-yellow: hsl(51, 75%, 51%);

@mixin Text {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
