$color-btn: hsl(0, 0%, 15%);

$color-fallback-bg: rgb(110, 224, 255);

$color-special: hsl(0, 59%, 61%);
$color-warning: hsl(0, 76%, 52%);

$color-shadow: hsl(0, 0%, 5%);

$color-card-dark: hsla(0, 0%, 20%, 1.00);
$color-card-light: hsla(0, 0%, 30%, 1.00);

$color-border-default: hsl(0, 0%, 60%);
$color-border-blue: hsl(212, 62%, 35%);
$color-border-green: hsl(140, 43%, 40%);
$color-border-red: hsl(0, 80%, 25%);
$color-border-orange: hsl(34, 75%, 40%);
$color-border-yellow: hsl(51, 75%, 40%);

$color-text-default: hsl(0, 0%, 45%);
$color-pick-blue: hsl(212, 62%, 45%);
$color-pick-green: hsl(140, 43%, 55%);
$color-pick-red: hsl(0, 80%, 35%);
$color-pick-orange: hsl(34, 75%, 50%);
$color-pick-yellow: hsl(51, 75%, 50%);

@mixin Text {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
