$color-bg: hsl(225, 95%, 5%);
$color-fg: hsl(220, 60%, 10%);
$color-message: hsl(235, 70%, 10%);
$color-pick: hsl(70, 70%, 50%);
$color-text: hsl(0, 0%, 70%);
$color-border: hsl(0, 0%, 30%);
$color-btn: hsl(230, 5%, 55%);
$color-warning: hsl(0, 76%, 52%);
$color-name: hsl(220, 90%, 35%);
$color-settings: hsl(29, 85%, 45%);

@mixin Card {
    background-color: $color-fg;
    border: 2px solid $color-border;
    border-radius: 8px;
    width: 20%;
    height: 320px;
    margin: 46px;
    padding: 64px;
}
