$color-bg: hsl(0, 0%, 85%);
$color-fg: hsl(0, 0%, 25%);
$color-card: hsl(280, 4%, 44%);
$color-pick: hsl(212, 43%, 52%);
$color-text: hsl(0, 0%, 75%);
$color-border: hsl(214, 35%, 55%);
$color-btn: hsl(0, 0%, 15%);
$color-warning: hsl(0, 76%, 52%);
$color-settings: hsl(0, 0%, 5%);

@mixin Card {
    background-color: $color-fg;
    border: 2px solid $color-border;
    border-radius: 8px;
    width: 20%;
    height: 320px;
    margin: 46px;
    padding: 64px;
    box-shadow: 2px 2px 1px 1px $color-settings;
}
