@use './templates.scss' as t;

.Nav {
    margin-top: 78px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;

    .Link {
        text-decoration: none;
        color: t.$color-text;
        font-size: 32px;

        &:hover {
            text-decoration: underline;
        }
    }
}
