@use './templates.scss' as t;

.Welcome {
    @include t.Card;

    h1 {
        font-size: 26px;
        display: flex;
        justify-content: center;
        gap: 6px
    }

    .Title {
        color: t.$color-pick;
        font-size: 26px;
    }

    .Nav {
        margin-top: 78px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 40px;

        .Link {
            text-decoration: none;
            color: t.$color-pick;
            font-size: 32px;

            &:hover {
                text-decoration: underline;
            }
        }
        
    }
}
