@use '../../styles/templates.scss' as t;

.Fallback {
    display: flex;
    justify-content: center;
    background-color: t.$color-special;
    width: 100%;
    height: 100%;

    img {
        width: 60%;
        height: auto; 
        border: 2px solid t.$color-border-default;
        border-radius: 8px;
        margin: auto;
    }
}
